<nav>
    <a [routerLink]=" ['./'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Index
    </a>
    <a [routerLink]=" ['./detail'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Detail
    </a>
    <a [routerLink]=" ['./barrel'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Barrel
    </a>
    <a [routerLink]=" ['./about'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    About
    </a>

</nav>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <p>Star.ly 2018 // Nick Silvestri</p>
    <a>hi <span>green??</span></a>
</footer>
